/* Custom CSS for the contact bar */
.contact-bar {
    background-color: #268bbd;
    color: #fff;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: start; /* Center horizontally */
    font-size: 14px;
}

.contact-bar p {
    margin: 0; /* Remove default margins to help with centering */
    display: flex;
    align-items: center;
    gap: 10px; /* Add space between icons and text */
    padding-left: 15px;
}

.contact-bar i {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .contact-bar {
        font-size: 12px; /* Decrease font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .contact-bar {
        font-size: 10px; /* Further decrease font size for extra small screens */
    }
}

/* Sticky header styles */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1020;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
    background-color: rgba(87, 214, 224, 255);
}

/* Navbar styles */
.navbar {
    padding: 0.75rem 1rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar-logo img {
    max-height: 60px;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);  
}



.nav-link {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.nav-link.active {
    color: #f5f36d !important;/* Bootstrap primary color */
}

.nav-link:hover {
    color: #f5f36d; /* Slightly darker on hover */
}

/* Adjusting body padding to avoid overlap */
body {
    padding-top: 0px;
}
